__pycache__/
*.pyc
*.pyo
extracted*/
out/
*.BAK
assets.csv
*.smpcmod
# Extracted/modified loc files
modified*.loc
fixed*.loc
strings*.csv
# Game files
PS5_Files/
# Font files
*.gfx
# Temp scripts
extract_mod.py
extract_mm.py
# Mod archives
*.stage
*.modular
*.mod
# Hash DB (use build-hashdb)
PS4AssetHashes.txt
MilesAssetHashes.txt
PS5AssetHashes.txt
# TOC files
toc
toc.new
toc.BAK
toc_check.new
toc.rt
toc.raw
# PC game files
PC_Files/
# MM PS5/PC
MM_PS5/
MM_PC/
MM_PS5 - Backup Files/
# SM2
SM2_PS5/
modding tools/
# Temp/debug files
_*.txt
# Reference binary
SMPS4HashTool.exe
